---
import Layout from "../layouts/Layout.astro"
import Opener from "../components/Opener.astro"
---
<Layout title="The Team | Silico Battles">
  <Opener str="How did you" late="even"/>
  <h1 class="text-6xl h-[10rem] w-[20rem] text-center absolute top-1/2 left-1/2 font-extrabold huh text-darkfg upppercase">Get Here?</h1>
</Layout>
<style>
  .huh {
    transform: translate(-50%, -50%);
}
</style>
