---
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Slide from "../components/Slide.astro"
---
<Layout title="Events | Silico Battles">
  <div class="slider">
  <div class="slides">
    <Slide e="24 frames" img="24frames"/>
      <Slide e="bassface" img="bassface"/>
      <Slide e="cyquest" img="cyquest"/>
      <Slide e="dexterity" img="dexterity"/>
      <Slide e="digital imaging" img="digitalimaging"/>
      <Slide e="forografia" img="fotografia"/>
      <Slide e="quiz" img="quiz"/>
      <Slide e="respawn console" img="rspcon"/>
      <Slide e="respawn pc" img="rsppc"/>
      <Slide e="robowars" img="robowars"/>
      <Slide e="scratch" img="scratch"/>
      <Slide e="sr. programming" img="snrprogramming"/>
      <Slide e="surprise" img="surprise"/>
  </div>
  <div class="controls absolute sm:top-[2rem] top-[2.2rem] left-[2.2rem] sm:left-[2.3rem]">
    <button class="prev cursor-pointer p-4 text-2xl text-white">
<i class="ph-light ph-arrow-left"></i>
    </button>
    <button class="next cursor-pointer p-4 text-2xl text-white">
<i class="ph-light ph-arrow-right"></i>
    </button>
  </div>
  </div>
  <Footer/>
</Layout>
<style is:global>
.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    text-align: center;
}
.slide img {
  width: 100%;
  display: block;
}
</style>
<script>
  const events = [
  {
    title: "24 frames",
    desc: "\"Filmmaking is a chance to live many lifetimes.\"",
    classes: 'Open',
    teams: '1',
    participants: '2',
    software: 'Adobe AfterEffects // Primere Pro // Filmora // DaVinci',
    code: "24frames",
    rules: [
      "Duration of the film should be minimun 3 minutes and maximum 5 minutes.",
      "The duration of stock footage and blanks should not exceed 15 seconds and must be credited.",
      "Points will be awarded on originality, cinematography, story and vfx.",
      "Prelims will be released on 10 Sep 2023. Entries have to be submitted by Oct 2, 2023.",
      "Top 10 movies will qualify for the screening and participants should come prepared for cross-questioning.",
      "The finals would be held in OFFLINE mode on October 7 2023.",
      "Shortlisted teams will pitch their products to the panel of judges.",
      "3-5 minutes will be given to each team to present their project. This will be followed by a Q/A round.",
    ]
  },
  {
    title: "Bassface",
    desc: "One good thing about music, when it hits you, you feel no pain",
    classes: 'IX - XII',
    code: "bassface",
    teams: '1',
    participants: '2',
    software: 'FL Studio // Ableton Live',
    rules: [
      "This is an offline event held on 7th October.",
      "The first 20 Teams Registered will be allowed to compete.",
      "Participants will have to create a track with the samples provided on the spot.",
      "Track length should lie between 2min-5min.",
      "The participants should bring their own headphones and audio splitter.",
      "Judgment criteria would be done on Originality, creativity, mixing and mastering.",
    ]
  },
  {
    title: "Cyquest",
    desc: "EMDAVSMU SSM CPU JAQ DEL LAKQ BYFM",
    classes: 'Open',
    teams: '1',
    participants: '2',
    code: "crypt",
    software: 'CyQuest Website',
    rules: [
      "This is an enigmatic cryptic hunt encompassing elements of an Alternate Reality Game (ARG), where every step decides the next.",
      "The hunt will last for 48 hours from October 1, 2023 to October 2 2023.",
      "The top 10 teams will qualify for the finals. The finals will be held on the school premises on October 7, 2023.",
      "The usage of internet is allowed during the offline hunt.",
      "More information to be relayed on the discord server."
    ]
  },
      {
    title: "Dexterity",
    desc: "Hackathon.",
    classes: 'Open',
    teams: '1',
    participants: '2',
    rules : [
      "This is a classic hackathon where participants are required to design a product based on their interpretation of the given prompt.",
      "The prompts will be dropped on 28 September 2023.",
      "Reuse of any existing product(s)/pitches will lead to disqualification",
      "The project folder should be uploaded to a Git and the repository link submitted via the submission form by October 3, 2023.",
      "10 product pitches will be shortlisted for the finals.",
      "Judgement will be based on innovation, feasibility and relevance to the prompt.",
      "Finals will be held in OFFLINE mode on October 7 2023.",
      "Shortlisted teams will pitch their products to the panel of judges.",
      "3-5 minutes will be given to each team to present their project. This will be followed by a Q/A round.",
    ]
  },
  {
    title: "Digital Imaging",
    desc: "Design a orignal picture based on the prompt given",
    code: "photoshop",
    classes: 'Open',
    teams: '1',
    participants: '2',
    software: 'Adobe Photoshop',
    rules: [
      "Teams will pitch their designs to the panel of judges on 0ctober 7 2023.",
      "5-10 minutes will be given to each team to present followed by a Q/A round.",
      "Students are requested to bring their own devices.",
      "This will be an OFFLINE round."
    ]
  },
  {
    title: "Fotographia",
    desc: "Click beautiful photographs to capture the win.",
    classes: 'IX - XII',
    teams: '1',
    participants: '2',
    software: '',
    code: "foto",
    rules: [
      "Participants will be required to click two photographs under the given prompt.",
      "The prompts will be dropped on 7 October 2023.",
      "The photos may be lightly edited post capture.",
      "Both original and edited photographs should be uploaded to a cloud storage.",
    ]
  },
  {
    title: "Quiz",
    desc: "Simple trivia based quiz! May the most knowledgeable one win",
    classes: 'ix - xii',
    teams: '1',
    code: "quiz",
    participants: '2',
    software: '',
    rules: [
      "Top 6 teams will qualify for the on stage finals.",
      "It will follow an infinite pounce.",
      "Participants are advised to study up on tech trivia.",
      "This will be an offline event."
    ]
  },
  {
    title: "Respawn Console",
    desc: "Play in tournament of 1v1 matches to become the ultimate champion",
    classes: 'IX - XII',
    teams: '1',
    participants: '1',
    software: '',
    rules: [
      "There will be 3 rounds: Prelims, Semi-Finals and Finals.",
      "The games will be announced on the spot.",
      "No cheating of any kind will be tolerated and will result in the disqualification of the team.",
      "Do not abuse or engage in fights. There will be a single warn system followed by a mute and then a ban.",
      "Participants are allowed to bring their own controller.",
      "This will be an OFFLINE event on October 7 2023."
    ],
    code: "respawnconsole",
  },
  {
    title: "Respawn PC",
    desc: "Play in tournament of 2v2 matches to become the ultimate champion",
    classes: 'IX - XII',
    teams: '1',
    participants: '2',
    code: "respawnpc",
    software: '',
    rules: [
      "The games will be announced prior to the event date.",
      "Participants from each team will be required to play the game.",
      "All participants must be named in this format i.e.\"Participant Name/School/Team Name\".",
      "No excuses such as lag will be entertained.",
      "No cheating of any kind will be tolerated and will result in the disqualification of the team.",
      "Do not abuse or engage in fights. There will be a single warn system followed by a mute and then a ban.",
      "Finals will be held as an OFFLINE event on 7th October 2023.",
      "There will be 2 rounds: Semi-Finals and Finals.",
      "The games will be announced on the spot.",
      "Participants are allowed to bring their own mouse, keyboard and headsets.",
    ]
  },
  {
    title: "Robowars",
    desc: '"We\'re fascinated with robots because they are reflections of ourselves"',
    classes: 'IX-XII',
    teams: '1',
    participants: '2',
    software: '',
    code: 'robo',
    rules: [
      "All the robots should be controlled wirelessly or wired from outside the arena (atleast 5m long wire).",
      "We will provide power points of 240 V AC",
      "A maxiumum of 24 Volts DC is allowed for powering the  Robot.",
      "Plug points will be provided.",
      "The participants need to bring their own DC adapters for their robot. ",
      "The weight of the robot should not be more than 15 kg.",
      "The event is on a first come first serve basis, Only first 20 teams will be participating.",
      "Max Dimensions: 50 x 55 cm",
      "No harmful weapons like flame throwers are allowed."
    ]

  },
  {
    code: "sc",
    title: "Scratch",
    desc: "make game",
    classes: 'VI - VIII',
    teams: '1',
    participants: '2',
    software: 'Scratch 3.0+',
    rules: [
      "This is an offline event ",
      "It will be held on 7th October 2023. Timings to declared later.",
      "Shortlisted teams will pitch their progress to the panel of judges.",
      "3-5 minutes will be given to each team to present their project.",
      "This will be followed by Q/A round."
    ]
  },
  {
    title: "Sr Programming",
    desc: "Compete to give the most optimal solutions in the least time",
    classes: 'IX - XII',
    teams: '1',
    participants: '2',
    code: "srprog",
    software: 'Hackerrank // IDLE',
    rules: [
      "This will be an ONLINE event on 0ctober 2 2023.",
      "Timings and further to be declared later.",
      "Contest link will be shared an hour before the event.",
      "Top 10 teams will be shortlisted for the finals.",
      "Finals would be an OFFLINE event on the same day",
      "The participants will be given a list of questions ON THE SPOT.",
      "Modules allowed will be announced on the spot.",
      "Any form of cheating will lead to immediate disqualification.",
      "A 3-5 minute viva will be taken based on their program.",
    ]
  },
  {
    title: "Surprise",
    desc: "its a surprise",
    classes: 'Open',
    teams: '1',
    code: "surprise",
    participants: '1',
    software: '',
    rules: [
      "Prelims of the event will be on 2 October (time will be announced soon).",
      "For more information Stay connected to Discord.",
      "SURPRISE!!!",
    ]
  },
]

const slider = document.querySelector(".slider");
const slides = document.querySelectorAll(".slide");
const container = document.querySelector(".slides");

const prevButton = document.querySelector(".prev");
const nextButton = document.querySelector(".next");


let currentIndex = 0;

function showSlide(index) {
    const slides = document.querySelector('.slides');
    const totalSlides = document.querySelectorAll('.slide').length;
    currentIndex = (index + totalSlides) % totalSlides;
    const offset = -currentIndex * 100 + '%';
    slides.style.transform = 'translateX(' + offset + ')';
}

  function nextSlide() {
    if (currentIndex < slides.length - 1) {
      currentIndex++;
    } else {
      currentIndex = 0
    }
    showSlide(currentIndex);
}

function prevSlide() {
  if (currentIndex > 0) {
      currentIndex--;
    } else {
      currentIndex = slides.length - 1
    }
    showSlide(currentIndex);
}

  prevButton.addEventListener("click", () => {
    prevSlide()
    console.log(events[currentIndex])
  })
  nextButton.addEventListener("click", () => {
      nextSlide()
    console.log(events[currentIndex])
  })

// Call showSlide() initially to display the first slide
showSlide(0);
</script>

