---
import Layout from "../layouts/Layout.astro"
import Opener from "../components/Opener.astro"
import Footer from "../components/Footer.astro"
---
<Layout title="Principal's Message | Silico Battles">
 <Opener str="Principal's" late="Message"/>
  <section class="header relative sm:p-16 md:p-24 p-8 py-48 md:py-24 overflow-hidden relative items-center flex flex-col jutsify-start">
    <h1 data-aos="zoom-in" data-aos-delay="1900" class="mb-16 heading-primary uppercase text-center font-extrabold  text-transparent text-4xl md:text-5xl bg-clip-text bg-gradient-to-r from-darkpr to-darksec">Dear Students,</h1>
    <p class="w-full sm:w-3/4 md:w-1/2 text-xl text-darkfg leading-10">
 Since its inception, Ahlcon Public School has always curated ideas to amplify students' creativity and magnify their overall development. In this ever evolving environment of education and technology, we proudly offer our young technoholics, a technological extravaganza which endeavours to provide fillip and boost to their hidden talents. Through this platform, we strive to equip the learners with the relevant skills and competencies, such as global awareness, critical and innovative thinking 
    </p>
  </section>
  <Footer/>
</Layout>
<style>

  .header {
    min-height: calc(95vh - 6rem);
  }
</style>
<script>
</script>
