---
  interface Props {
  icon: string;
  text: string;
  name: string;
  pic: string;
}

const { icon, text,name, pic } = Astro.props;
---

<div style=`background: linear-gradient(to bottom, #08090bdd, #08090b77, #08090bbb), url('/${pic}'); background-size: cover;` class="p-4 card rounded-xl h-[35rem] flex flex-col w-full sm:w-2/3 md:w-[26rem] lg:w-1/4 justify-between items-center overflow-hidden shadow-2xl">
  <div class="flex justify-between w-full items-center">
    <p class="font-extrabold text-darkfg text-4xl uppercase">{name}</p>
    <i class=`ph-light ph-${icon} text-5xl text-transparent bg-clip-text bg-gradient-to-r from-darkpr to-darksec`></i>
  </div>
    <p class="font-light text-darkfg text-xl uppercase self-start">{text}</p>

</div>
<style>
</style>
