---
---
<footer class="flex w-full bg-darkmbg flex-wrap items-center justify-center gap-y-6 gap-x-12 px-12  py-6 text-center ">
  <p class="block font-extrabold text-darkpr text-2xl  antialiased">
    SILICO
  </p>
  <ul class="flex flex-wrap items-center text-center jutsify-center self-center gap-y-2 gap-x-4">
        <li> <a href="https://www.youtube.com/@SilicoBattles">
          <i class="ph-fill ph-youtube-logo makebig text-2xl text-darkfg"></i>
          </a></li>
        <li>  <a href="https://www.instagram.com/silicobattles">
          <i class="ph-fill ph-instagram-logo makebig text-2xl text-darkfg"></i>
          </a></li>
        <li> <a href="https://discord.com/invite/ZWtN9q7MvP">
          <i class="ph-fill ph-discord-logo text-2xl makebig text-darkfg"></i>
        </a></li>
    <li>
      <a
          href="/principal"
        class="block text-darkfg uppercase font-light makebig  transition-colors "
      >
        Principal's Message
      </a>
    </li>
  </ul>
</footer>
