---
interface Props {
	title: string;
}
import Navbar from "../components/Navbar.astro"
import Follower from "../components/Follower.astro"
const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <script defer src="https://rawgit.com/ruyadorno/simple-slider/master/dist/simpleslider.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script defer src="https://unpkg.com/@phosphor-icons/web"></script>
      <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body>
    <Navbar/>
    <slot />
    <Follower/>
<script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script is:inline>
      AOS.init({
      });
    </script>
  </body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: Poppins, sans-serif;
    background-color: #08090b;
  }
  body {
    padding: 2rem;
    width: 100vw;
    min-height: 100vh;
  }
  @media only screen and (max-width: 576px) {
  body {
    padding: 0
  }
  
  * {
    cursor: auto;
  }

}
*{
  cursor: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
	code {
		font-family: JetBrains Mono;
	}
  @keyframes goup {
    0% {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0)
    } 
    99% {
      opacity: 1;
      pointer-events: all;
    } 
    100% {
      opacity: 0;
      pointer-events: none;
      transform: translateY(-120vh)
    }
  }
  .immagoup {
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.875, 0.110, 0.335, 0.995);
    animation-name: goup;
  }
</style>
